<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin: 50px;">
    <h1>사용자 수정</h1>
    <hr>
    <form action="/sb/user/update" method="post">
        <input type="hidden" name="uid" th:value="${uid}"placeholder="uid"><br><br>
        <input type="password" name="pwd" placeholder="암호"><br><br>
        <input type="password" name="pwd2" placeholder="암호 확인"><br><br>
        <input type="text" name="uname" placeholder="사용자 이름"><br><br>
        <input type="text" name="email" placeholder="이메일"><br><br>
        <input type="submit" value="수정">
    </form>
</body>
</html>